@font-face {
    font-family: 'Mom';
    src: url(../../assets/fonts/Mom.ttf);
   
}


.imagenPortada{
    background-image: url("../../assets/images/carrusel1.jpg");
    background-attachment: fixed;
    height: 600px;
    overflow: hidden;
}

.welcomeContainer{
  
    padding-top: 100px;
    background-color: black;
    height: 400px;
}



.welcomeContainer h2, p{
    color: white;
    font-family: 'Mom';
    padding: 6px;
    

}

.welcomeText{
height: inherit;
overflow: visible;
}



/* RESPONSIVENESS */

@media only screen and (max-width: 600px) {
   .iwelcomeContainer{
    height: fit-content;
   }
  }